<%# app/views/mechanics/new.html.erb %>

<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-6 text-gray-800">Añadir Nuevo Mecánico</h1>

  <%# Renderizamos el formulario parcial que creamos en el paso anterior %>
  <%= render 'form' %>
</div>
