<div class="bg-white shadow-sm rounded-lg p-6 border">
  <p><strong class="font-medium">Descripción del problema:</strong> <%= entry_order.problem_description %></p>
  <p><strong class="font-medium">Kilometraje:</strong> <%= entry_order.mileage %></p>
  </div>
